<% @tweets.each do |tweet| %>

<div class="media my-4">
  <img src="<%= tweet.picture %> " class="mr-3" style="width: 5rem;" alt="perfil_picture">
  <div class="media-body">
    <h5 class="mt-0"></h5>
    <p><%= tweet.content %> </p>
    <a href="#" class="card-link">Like</a>
    <a href="#" class="card-link">Retweet</a>
  </div>
</div>

  <% end %>

